
@*شروع آکاردئون داخلی کارخانه های مواد اولیه*@

<div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">
    <div class="panel panel-success">
        <div class="panel-heading" role="tab" id="heading1-1">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion1" href="#collapse1-1">
                    کارخانه مواد اولیه غذا 1
                </a>
            </h4>
        </div>
        <div id="collapse1-1" class="panel-collapse collapse in" role="tabpanel">
            <div class="panel-body">
            </div>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading" role="tab" id="heading1-2">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion1" href="#collapse1-2">
                    کارخانه مواد اولیه غذا 2
                </a>
            </h4>
        </div>
        <div id="collapse1-2" class="panel-collapse collapse" role="tabpanel">
            <div class="panel-body">
            </div>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading" role="tab" id="heading1-3">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion1" href="#collapse1-3">
                    کارخانه مواد اولیه غذا 3
                </a>
            </h4>
        </div>
        <div id="collapse1-3" class="panel-collapse collapse" role="tabpanel">
            <div class="panel-body">
            </div>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading" role="tab" id="heading1-4">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion1" href="#collapse1-4">
                    کارخانه مواد اولیه غذا 4
                </a>
            </h4>
        </div>
        <div id="collapse1-4" class="panel-collapse collapse" role="tabpanel">
            <div class="panel-body">
            </div>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading" role="tab" id="heading1-5">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion1" href="#collapse1-5">
                    کارخانه مواد اولیه غذا 5
                </a>
            </h4>
        </div>
        <div id="collapse1-5" class="panel-collapse collapse" role="tabpanel">
            <div class="panel-body">
            </div>
        </div>
    </div>
</div>
@*پایان آکاردئون داخلی کارخانه های مواد اولیه*@