
@*شروع آکاردئون داخلی کارخانه های مواد اولیه*@

<div class="panel-group" id="accordion4" role="tablist" aria-multiselectable="true">
    <div class="panel panel-success">
        <div class="panel-heading" role="tab" id="heading4-1">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion4" href="#collapse4-1">
                    کارخانه غذا کیفیت 1
                </a>
            </h4>
        </div>
        <div id="collapse4-1" class="panel-collapse collapse in" role="tabpanel">
            <div class="panel-body">
            </div>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading" role="tab" id="heading4-2">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion4" href="#collapse4-2">
                    کارخانه غذا کیفیت 2
                </a>
            </h4>
        </div>
        <div id="collapse4-2" class="panel-collapse collapse" role="tabpanel">
            <div class="panel-body">
            </div>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading" role="tab" id="heading4-3">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion4" href="#collapse4-3">
                    کارخانه غذا کیفیت 3
                </a>
            </h4>
        </div>
        <div id="collapse4-3" class="panel-collapse collapse" role="tabpanel">
            <div class="panel-body">
            </div>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading" role="tab" id="heading4-4">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion4" href="#collapse4-4">
                    کارخانه غذا کیفیت 4
                </a>
            </h4>
        </div>
        <div id="collapse4-4" class="panel-collapse collapse" role="tabpanel">
            <div class="panel-body">
            </div>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading" role="tab" id="heading5-5">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion4" href="#collapse5-5">
                    کارخانه غذا کیفیت 5
                </a>
            </h4>
        </div>
        <div id="collapse5-5" class="panel-collapse collapse" role="tabpanel">
            <div class="panel-body">
            </div>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading" role="tab" id="heading6-5">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion4" href="#collapse6-5">
                    کارخانه غذا کیفیت 6
                </a>
            </h4>
        </div>
        <div id="collapse6-5" class="panel-collapse collapse" role="tabpanel">
            <div class="panel-body">
            </div>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading" role="tab" id="heading7-5">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion4" href="#collapse7-5">
                    کارخانه غذا کیفیت 7
                </a>
            </h4>
        </div>
        <div id="collapse7-5" class="panel-collapse collapse" role="tabpanel">
            <div class="panel-body">
            </div>
        </div>
    </div>
</div>
@*پایان آکاردئون داخلی کارخانه های مواد اولیه*@