
<div id="Result">

    <div id="DailyProfit">
        سود روزانه
        <label></label>
        <label></label>
        <label></label>
        <label></label>
        <label></label>
        <label></label>
        <label></label>
        <label></label>
        <label></label>
        <label></label>
        <label></label>
        <label></label>
        <label></label>
        <label></label>
        <label></label>
        <label></label>
        <label></label>
        <label></label>
        <label></label>
        <label></label>
        <label></label>
        <label></label>
        <label></label>
        <label></label>
        <label></label>
        <label></label>
        <label></label>
        <label></label>
        <label></label>
    </div>
    
    <div id="MontlyProfit">
        سود ماهیانه
        <label></label>
        <label></label>
        <label></label>
        <label></label>
        <label></label>
        <label></label>
        <label></label>
        <label></label>
        <label></label>
        <label></label>
        <label></label>
        <label></label>
        <label></label>
        <label></label>
        <label></label>
        <label></label>
        <label></label>
        <label></label>
        <label></label>
        <label></label>
        <label></label>
        <label></label>
        <label></label>
        <label></label>
        <label></label>
        <label></label>
        <label></label>
        <label></label>
        <label></label>
    </div>


</div>