
@*شروع آکاردئون داخلی کارخانه های مواد اولیه*@

<div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
    <div class="panel panel-success">
        <div class="panel-heading" role="tab" id="heading2-1">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion2" href="#collapse2-1">
                    کارخانه مواد اولیه اسلحه 1
                </a>
            </h4>
        </div>
        <div id="collapse2-1" class="panel-collapse collapse in" role="tabpanel">
            <div class="panel-body">
            </div>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading" role="tab" id="heading2-2">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion2" href="#collapse2-2">
                    کارخانه مواد اولیه اسلحه 2
                </a>
            </h4>
        </div>
        <div id="collapse2-2" class="panel-collapse collapse" role="tabpanel">
            <div class="panel-body">
            </div>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading" role="tab" id="heading2-3">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion2" href="#collapse2-3">
                    کارخانه مواد اولیه اسلحه 3
                </a>
            </h4>
        </div>
        <div id="collapse2-3" class="panel-collapse collapse" role="tabpanel">
            <div class="panel-body">
            </div>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading" role="tab" id="heading2-4">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion2" href="#collapse2-4">
                    کارخانه مواد اولیه اسلحه 4
                </a>
            </h4>
        </div>
        <div id="collapse2-4" class="panel-collapse collapse" role="tabpanel">
            <div class="panel-body">
            </div>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading" role="tab" id="heading2-5">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion2" href="#collapse2-5">
                    کارخانه مواد اولیه اسلحه 5
                </a>
            </h4>
        </div>
        <div id="collapse2-5" class="panel-collapse collapse" role="tabpanel">
            <div class="panel-body">
            </div>
        </div>
    </div>
</div>
@*پایان آکاردئون داخلی کارخانه های مواد اولیه*@