
@*شروع آکاردئون داخلی کارخانه های مواد اولیه*@

<div class="panel-group" id="accordion3" role="tablist" aria-multiselectable="true">
    <div class="panel panel-success">
        <div class="panel-heading" role="tab" id="heading3-1">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion3" href="#collapse3-1">
                    کارخانه اسلحه کیفیت 1
                </a>
            </h4>
        </div>
        <div id="collapse3-1" class="panel-collapse collapse in" role="tabpanel">
            <div class="panel-body">
            </div>
        </div>
    </div>

    <div class="panel panel-success">
        <div class="panel-heading" role="tab" id="heading3-2">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion3" href="#collapse3-2">
                    کارخانه اسلحه کیفیت 2
                </a>
            </h4>
        </div>
        <div id="collapse3-2" class="panel-collapse collapse" role="tabpanel">
            <div class="panel-body">

            </div>
        </div>
    </div>

    <div class="panel panel-success">
        <div class="panel-heading" role="tab" id="heading3-3">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion3" href="#collapseThree">
                    کارخانه اسلحه کیفیت 3
                </a>
            </h4>
        </div>
        <div id="collapse3-3" class="panel-collapse collapse" role="tabpanel">
            <div class="panel-body">

            </div>
        </div>
    </div>
</div>
@*پایان آکاردئون داخلی کارخانه های مواد اولیه*@