@model Erep.DomainClasses.ViewModelsWebApi.GoldPriceViewModel

@{
    ViewBag.Title = "قیمت طلا";
}

<h2>تغییرات قیمت ارز در 24 ساعت گذشته</h2>
<hr />
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.DateTime)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.DateTime)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.LowestPrice)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.LowestPrice)
    </dd>
<</dl>