
@{
    ViewBag.Title = "تشکر";
}

<h2>تشکر</h2>

<p> پیام شما با موفقیت ثبت گردید. </p>
<p>در اولین فرصت از پیشنهاد شما جهت بهبود این وبسایت استفاده شده و در صورت ثبت ایمیل نتیجه به شما اعلام خواهد گردید.</p>

